body {
  background-image: url("back2.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  background-repeat: repeat;
}

header h1 {
  color: rgb(229, 239, 241);
  text-align: left;
  margin-top: 5px;
  gap: 10px;
  display: flex;
  justify-content: left;
  margin-bottom: 0px;
  font-family: "bell Mt";
  margin-top: 0px;
  margin-left: 40px;
  font-size: 50px;
  max-width: 60%;
}
header h2 {
  color: rgb(216, 226, 228);
  text-align: left;
  font-family: "bell Mt";
  margin-bottom: 0px;
  margin-top: 40px;

  font-size: 30px;
  font-weight: light;
  margin-right: 60px;
  max-width: 60%;
}
header h3 {
  color: rgb(225, 235, 237);
  text-align: left;
  font-family: "bell Mt";
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 25px;
  max-width: 60%;
}

.myimag {
  width: 200px;
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  border-width: 15px;
  border: 10px solid rgb(114, 7, 8);
  float: right;

  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}
.text {
  color: rgb(137, 165, 169);
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 100px;
  max-width: 70%;
  flex: 1;
  bottom: 5px;
  left: 50%;
  font-size: 24px;
  margin-top: 0px;
  max-width: 70%;
  margin-left: 70px;
}

.skills {
  /* bottom: 5px;
  left: 50%;
  font-size: 24px;
  color: rgb(231, 222, 222);
  margin-top: 0px;
  max-width: 60%;
  margin-left: 100px;
  text-align: left;
  font-family: "Oswald", sans-serif;*/
  size: 200px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  max-width: 100%;
}
.wrapper {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: space-around;
  gap: 5rem;
  box-sizing: border-box;
}
.butt1:hover {
  background-color: rgb(200, 16, 16);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.butt2:hover {
  background-color: rgb(200, 16, 16);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.butt3:hover {
  background-color: rgb(200, 16, 16);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttons {
  display: flex;
  justify-content: left;
  gap: 5px;
  display: flex;
  text-align: left;
  margin-left: 70px;
  margin-top: 20px;
}
.butt1 {
  text-align: center;
  margin-top: 0px;
  background-color: rgb(135, 33, 57);
  gap: 10px;
  padding: 15px 35px;
  font-size: 16px;

  border-radius: 30px;
  font-weight: bold;
  border-color: rgb(244, 244, 244);
  border-width: 5px;
  background-image: url("back2.png");
  background-size: cover;
  background-position: center;
}
.butt2 {
  text-align: center;
  margin-top: 0px;
  background-color: rgb(135, 15, 15);
  gap: 10px;
  padding: 15px 35px;
  font-size: 16px;

  border-radius: 30px;
  font-weight: bold;
  border-color: rgb(226, 222, 234);
  border-width: 5px;
  background-image: url("back2.png");
  background-size: cover;
  background-position: center;
}
.butt3 {
  text-align: center;
  margin-top: 0px;
  background-color: rgb(135, 15, 15);
  gap: 10px;
  padding: 15px 35px;
  font-size: 16px;
  background-image: url("back2.png");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  font-weight: bold;
  border-color: rgb(235, 235, 237);
  border-width: 5px;
}
