body {
  margin-left: 40px;
  background-image: url("backgroun.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  background-repeat: repeat;
  color: rgb(15, 2, 2);
  font-weight: bold;
}
